<div class="main-wrapper">
    <section class="featured-area">
      <div class="container">        
        <div class="single-feature">
          <div class="row">
            <div class="offset-sm-2 col-sm-8 offset-md-2 col-md-8">
                <h3 class="text-white text-uppercase mb-10"><img src="assets/img/canonLogo.png" style="padding-left: 4px;padding-right:4px"> {{contactUsData.partner}}</h3> 
              <h4><p style="color: yellow">{{contactUsData.name}}</p></h4>
              <p style="color: white">
               {{contactUsData.address}} 
              </p>
              <p style="color: white">Office Phone: {{contactUsData.phone}}</p>
              <p style="color: white">Mobile: {{contactUsData.mobile}}</p>
              <p style="color: white">Email: {{contactUsData.email}}</p>
            </div>
          </div>
          <br>          
        </div>
      </div>
    </section>
  </div>