<div>
  <!--Home Page-->
  <div class="main-wrapper">
    <div class="banner-area">
      <div class="container">
        <div class="row height align-items-center" id="homePage">
          <div class="offset-md-1 col-md-6 offset-sm-2 col-sm-6" id="banner-change">
            <div class="banner-content">


                <h3 class="text-white text-uppercase mb-10">AUTHORIZED<img src="assets/img/canonLogo.png" style="padding-left: 4px;padding-right:4px">PREMIUM PARTNER</h3>
              <br>
              <p class="text-white mb-30">Imaging experts are in your neighborhood. Intrducing Canon imageRUNNER, imageRUNNER ADRUNNER and Document Scanners.
                  <br> ABTECH is your one stop solution for diverse range of high speed scanners and gen3 multi-function devices
              </p>             
            </div>
          </div>
          <div class=" col-md-2 col-sm-2" id="banner-image">
            <div class="banner-content ">
              <img src="assets/img/ir-adv.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About Us-->
  <div class="main-wrapper">
    <div class="working-process-area">
      <div class="container">
        <div class="row justify-content-center" id="aboutUsPage">
          <div class="col-md-8 col-sm-8 single-remark">
            <div class="section-title text-center">
              <h2 style="color: #459af2; top:5px">WE ARE THE BEST HERE</h2>
              <br>
              <p class="fontChange">For your Scanning and Printing Solution. Move at the speed of your business with Canon. Producing high quality
                  output at high velocity, all while retaining the trademark Canon simplicity.
                  <br> ABTECH aims to provide new added value by enabling customers to take advantage of better operational performance,
                  lower costs and improved workflow efficiencies.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-wrapper">
    <!-- Start About Us-->
    <section class="featured-area">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 col-sm-7">
            <div class="section-title text-center">
              <h2 class="text-white">We provide</h2>
              <p class="text-white ">We at ABTECH promise to provide you with latest solution of imaging with rich service experience like never
                before.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="single-feature">
              <div class="thumb" style="background: url(assets/img/d1.jpg);"></div>
              <div class="desc text-center mt-30">
                <h4 class="text-white">Solution that suits your business</h4>
                <p class="text-white">Meet our holistic, integral multifunctional device designed to enhance your office document ecosystem in
                  every way imaginable. </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-feature">
              <div class="thumb" style="background: url(assets/img/d2.jpg);"></div>
              <div class="desc text-center mt-30">
                <h4 class="text-white">Deliver service to your doorstep </h4>
                <p class="text-white">Boost office productivity with Canon’s range of multi-function devices, sturdily built to meet all your executive
                  needs.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-feature">
              <div class="thumb" style="background: url(assets/img/d3.jpg);"></div>
              <div class="desc text-center mt-30">
                <h4 class="text-white">Extensive support pre and post sales</h4>
                <p class="text-white">High-performance compact scanners packed with powerful features. It brings out the best in your image and
                  text documents
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Products page -->
    <section class="remarkable-area">
      <div class="container">
        <div class="row justify-content-center" id="productsPage">
          <div class="col-sm-6">
            <div class="section-title text-center">
              <h2>Our Products</h2>
              <p>Our range of product includes solution for high quality scanning and multi function devices. </p>
            </div>
          </div>
        </div>
        <div class="single-remark">
          <div class="row no-gutters" routerLink="/imageRunnerAdv">
            <div class="col-sm-7 col-md-6">
              <div class="remark-thumb" style="background: url(assets/img/iradv.png);"></div>
            </div>
            <div class="col-sm-5 col-md-6">
              <div class="remark-desc">
                <h4>imageRUNNER ADVANCE</h4>
                <p>Meet our holistic, integral multifunctional device designed to enhance your office document ecosystem in
                  every way imaginable. </p>
                <a class="primary-btn" routerLink="/imageRunnerAdv">
                  <span>Explore sub products</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="single-remark">
          <div class="row no-gutters" routerLink="/imageRunner">
            <div class="col-sm-7 col-md-6">
              <div class="remark-desc" >
                <h4>imageRUNNER</h4>
                <p>Boost office productivity with Canon’s range of multi-function devices, sturdily built to meet all your executive
                  needs.
                </p>
                <a class="primary-btn" routerLink="/imageRunner">
                  <span>Explore sub products</span>
                </a>
              </div>
            </div>
            <div class="col-sm-5 col-md-6">
              <div class="remark-thumb" style="background: url(assets/img/ir2.png);"></div>
            </div>
          </div>
        </div>
        <div class="single-remark">
          <div class="row no-gutters" routerLink="/docScanner">
            <div class="col-sm-7 col-md-6">
              <div class="remark-thumb" style="background: url(assets/img/drbanner.png);"></div>
            </div>
            <div class="col-sm-5 col-md-6">
              <div class="remark-desc">
                <h4>Document Scanner</h4>
                <p>High-performance compact scanners packed with powerful features. It brings out the best in your image and
                  text documents
                </p>
                <a class="primary-btn" routerLink="/docScanner">
                  <span>Explore sub products</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Remarkable Wroks Area -->
    <!-- News and Events -->
    <section class="story-area" id="newEventsPage">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-7">
            <div class="story-box">
              <h5 class="text-uppercase">We provide best Web & IT solutions</h5>
              <p>Coming soon... Best website design & eCommerce web design, web development, & web application developers in
                the industry. We have professional for responsive eCommerce website development. </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Story Area -->
    <!-- Start Subscription Area -->
    <!--
    <section class="subscription-area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <div class="section-title">
              <h3>Subscribe for our Newsletter</h3>
              <span>Can you imagine what we will be downloading in another</span>
            </div>
          </div>
          <div class="col-sm-6">
            <div id="mc_embed_signup">
              <form target="_blank" novalidate action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01"
                method="get" class="subscription relative">
                <input type="email" name="EMAIL" placeholder="Your email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'"
                  required>
                <div style="position: absolute; left: -5000px;">
                  <input type="text" name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="">
                </div>
                <button class="primary-btn hover d-inline-flex align-items-center">
                  <span class="mr-10">Get Started</span>
                  <span class="lnr lnr-arrow-right"></span>
                </button>
                <div class="info"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>-->
    <!-- End Subscription Area -->
    <!-- Start Contact Form -->
    <!--
    <section class="contact-form-area" id="contactUsPage">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <div class="section-title text-center">
              <h2 class="text-white">Keep in Touch</h2>
              <p class="text-white">Most people who work in an office environment, buy computer products, or have a computer at home have had the
                “fun” experience of dealing </p>
            </div>
          </div>
        </div>
        <form id="myForm" action="mail.php" method="post" class="contact-form">
          <div class="row justify-content-center">
            <div class="col-sm-5">
              <input type="text" name="fname" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'"
                class="common-input mt-20" required>
            </div>
            <div class="col-sm-5">
              <input type="email" name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mt-20"
                required>
            </div>
            <div class="col-sm-10">
              <textarea class="common-textarea mt-20" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"
                required></textarea>
            </div>
            <div class="col-sm-10 d-flex justify-content-end">
              <button class="primary-btn submit-btn d-inline-flex align-items-center mt-20">
                <span class="mr-10">Send Message</span>
                <span class="lnr lnr-arrow-right"></span>
              </button>
              <br>
              <div class="alert-msg"></div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
  -->
  <section class="footer-widget-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="single-widget">
            <div class="desc">
              <h6 class="title">Address</h6>
              <p>1st floor, Gulab Market,Near GRC Gate,
                <br>Narmada Road, Rampur Square, 
                <br>Jabalpur 482001 (MP)</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-widget">
            <div class="desc">
              <h6 class="title">Email Address</h6>
              <div class="contact">
                <a href="mailto:abtech.jabalpur@gmail.com">abtech.jabalpur@gmail.com</a>
                <br>              
                <a href="mailto:abtechjbp@gmail.com">abtechjbp@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-widget">
            <div class="desc">
              <h6 class="title">Phone Number</h6>
              <div class="contact">
                <a href="tel:0761-4017496">0761-4017496</a>
                <br>
                <a href="tel:+919479641099">+91 9479 641 099</a>
                <br>
                <a href="tel:+919300609405">+91 9300 609 405</a>
                <br>
                <a href="tel:+919926475473">+91 9926 475 473</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- End Contact Form -->
</div>